<mat-toolbar color="primary">
    <span>BiblioApp</span>

    <span style="flex: 1 1 auto;"></span>

    @if (auth.isLogged()) {
      <a mat-button routerLink="/usuarios">Usuarios</a>
      <a mat-button routerLink="/libros">Libros</a>
      <a mat-button routerLink="/copias">Copias</a>
      <a mat-button routerLink="/solicitudes">Solicitudes</a>
      <a mat-button routerLink="/prestamos">Préstamos</a>

      <span style="margin: 0 1rem;">Hola, {{ auth.user()?.nombre_mostrar }}</span>
      <button mat-button (click)="logout()">Cerrar sesión</button>
    } @else {
      <a mat-button routerLink="/login">Login</a>
    }
  </mat-toolbar>
  