<h2>Login</h2>

<div style="margin: 12px 0;">
  <div id="g_id_onload"
       data-client_id="779186586574-jmgaqgkco4vk03m1pm12mns8gi38fhct.apps.googleusercontent.com"
       data-context="signin"
       data-callback="handleGoogleCredential"
       data-auto_prompt="false">
  </div>
  <div class="g_id_signin" data-type="standard" data-size="large" data-theme="outline" data-text="signin_with" data-shape="rectangular" data-logo_alignment="left"></div>
</div>


<mat-form-field appearance="outline">
  <mat-label>Correo</mat-label>
  <input matInput [(ngModel)]="correo">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Clave</mat-label>
  <input matInput type="password" [(ngModel)]="clave">
</mat-form-field>

<button mat-raised-button color="primary" (click)="login()">Ingresar</button>

<mat-error *ngIf="error">{{error}}</mat-error>
